.navbar-nav .nav-link:not(.btn):hover {
    color: #ffc107 !important;
    position: relative;
}

.navbar-nav .nav-link:not(.btn)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #ffc107;
    transition: width 0.3s;
}

.navbar-nav .nav-link:not(.btn):hover::after,
.navbar-nav .nav-link:not(.btn).active::after {
    width: 100%;
}

.navbar-nav .nav-link.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff !important;
    border-color: #6c757d;
    text-decoration: none; 
}

.navbar-nav .nav-link.btn-warning:hover {
    background-color: #e0a800;
    color: #000 !important;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 193, 7, 0.3);
}


/* ================= ICON HOVER EFFECT ================= */
i.bi {
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

/* icon hover */
i.bi:hover {
    transform: scale(1.3) rotate(15deg);
    color: #f7f6f4 !important;
}

/* ================= CARD HOVER EFFECT ================= */
.bg-dark.border {
    transition: transform 0.35s ease,
                box-shadow 0.35s ease,
                background-color 0.35s ease;
    cursor: pointer;
}

/* card hover */
.bg-dark.border:hover {
    transform: translateY(-6px);
    background-color: #111;
    box-shadow: 0 15px 35px rgba(255, 193, 7, 0.35);
}

/* icon inside card reacts too */
.bg-dark.border:hover i.bi {
    transform: scale(1.4) rotate(15deg);
    color: #fcfbfa !important;
}


/* ================= BUTTON HOVER EFFECT ================= */
.btn {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* button hover */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(255, 193, 7, 0.4);
}


* {
    scroll-behavior: smooth;
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}


.bg-dark.border {
    border-radius: 6px;
    transition: border-radius 0.3s ease,
                transform 0.35s ease,
                box-shadow 0.35s ease,
                background-color 0.35s ease;
}

.bg-dark.border:hover {
    border-radius: 12px;
}